body {
    background-image : url("asset/background1.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    background-color : #cccccc;
    background-position:center;
    justify-content: center;
    min-height: 100vh !important;
    min-width: 100%;
    font-family: "CustomFont", sans-serif;
 }

 @font-face {
    font-family: "CustomFont";
    src: url("asset/sponsfont.ttf");
}

@media (max-width: 768px) {
    #close-btn {
      display: none;
    }
  }

html, body {
    touch-action: none;
    -ms-touch-action: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
  }

#container {
    justify-content: center;
    align-items: center;
    width: 100%;
}

#prevbutton {
    justify-content: right;
    display: flex;
    align-items: center;
    width: 20px;
    color: #fef66e;
    font-size: 3em;
}

#rbutton{
    background-image: url("asset/arrow-right.png");
    background-size: 80%;
    background-position:left;
    background-repeat: no-repeat;
}

#lbutton{
    background-image: url("asset/arrow-left.png");
    background-size: 80%;
    background-position:right;
    background-repeat: no-repeat;
}

#clogo {
    position: relative;
    min-width: 100%;
    min-height: 20%;
}

#clogo .bglogo {
    position: relative;
    width: 100%;
    min-height: 100px;
    top: 0;
    left: 0;
    z-index: 0;
    border: 5px solid #014a7d;
    border-color: #014a7d;
    border-radius: 25px;
}

#clogo .logo {
    margin-top: 4px;
    position: absolute;
    min-width: 120px;
    max-width: 15%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;  
}

#selectorchar {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
}

#nextbutton{
    display: flex;
    align-items: center;
    justify-content: left;
    width: 20px;
    color: #fef66e;
}

#charpick {
    min-width: 20%;
    width: 230px;
    height: 200px;
}

#charcontainer {
    justify-content: center;
    display: flex;
    align-items: center;
    height: 250px;
}

#char img{
    /*bikin width, height seukuran char*/
    justify-content: center;
    display: flex;
    align-items: center;
    height: 200px;
}

#inputpet{
    align-items: center;
    text-align: center;
    justify-content: center;
    min-width: 300px;
    max-width: 30%;
}

#inputpet .inputpetlabel {
    color: #fef66e;
    text-shadow: 0 0 3px #888609, 0 0 5px #6d7200;
    font-size: 25px;
}

#inputpet .inputtextpet {
    padding-top: 15px;
    padding-bottom: 20px;
    color: #cccccc;
    font-size: 1.2em;
    text-align: center;
    background-image: url("asset/input.png");
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
}


.inputtextpet:focus {
    outline: none;
}

input {
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: hidden;
    background-color: rgba(238, 238, 238, 0);
}

#play.container {
    width: 300px;
    height: auto;
    align-items: center;
    text-align: center;
    justify-content: center;
}

#play .playbutton {
    color: #014a7d;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
    text-shadow: -2px 2px 0 #53b7ff;
    font-size: 30px;
    background-color: #ffee00;
    border-color: -2px 2px 0 #014a7d;
    box-shadow: -4px 4px 0 #253e5d;
}

#copyright {
    padding-top: 15px;
    text-align: center;
    padding-bottom: 5px;
}

a {
    color: #2f2f2f;
    font-size: small;
    background-color: antiquewhite;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;

    color: whitesmoke;
    padding-left: 5px;
  }
  
a:link {
    text-decoration: none;
  }
  
  a:visited {
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  a:active {
    text-decoration: underline;
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
  }
  
.popup-content {
    background-image: url("asset/prompt.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    padding: 90px;
    text-align: center;
    border-radius: 10px;
}
  
h1 {
    font-size: 36px;
    color: rgb(255, 255, 255);
    text-shadow: -2px 2px 0 #003357, 2px 2px 0 #003357, 2px -2px 0 #003357, -2px -2px 0 #003357, 0 2px 0 #003357, 0px -2px 0 #003357;
}
  
p {
    font-size: 18px;
    color: #fef66e;
    margin-top: 20px;
    text-shadow: -2px 2px 0 #003357, 2px 2px 0 #003357, 2px -2px 0 #003357, -2px -2px 0 #003357, 0 2px 0 #003357, 0px -2px 0 #003357;
}
  
.close-btn {
    color: #014a7d;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
    text-shadow: -2px 2px 0 #53b7ff;
    font-size: 20px;
    background-color: #ffee00;
    border-color: -1.5px 1.5px 0 #014a7d;
    box-shadow: -4px 4px 0 #253e5d;
}
  
/* BATAS WELCOME  */
/*----------------------------------------------------------------------------*/
/* START MAIN */

#greetpopup {
    width:250px;
    position: relative;
}

#clogo .mbglogo {
    position: relative;
    width: 90%;
    min-height: 70px;
    max-height: 90px;
    top: 5px;
    left: 0;
    z-index: 0;
    border: 5px solid #014a7d;
    border-color: #014a7d;
    border-radius: 25px;
}

#clogo .mlogo {
    margin-top: 4px;
    position: absolute;
    min-width: 120px;
    max-width: 10%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;  
}

#statscontainer {
    max-height: 200px;
    margin-top: -20px;
    max-width: 300px;
    padding-top: 10px;
    width: 80%;
    margin-bottom: 0px;
    justify-content: center;
    align-items: center;
}

#statscontainer .table {
    padding-top: 0px;
    padding-right: 20px;
    padding-bottom: -10px;
    background-image: url("asset/statsbackground.png");
    background-size: 300%;
    background-position: center;
    border: 5px solid rgb(79, 50, 0);
    border-radius: 10px;
    /*border-left: 5px solid rgb(79, 50, 0);
    border-bottom: 5px solid rgb(79, 50, 0);
    border-right: 5px solid rgb(79, 50, 0);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;*/

}

#colstats {
    color: white;
    width: 80px;
    display: flex;
}

#rowstats {
    border: 0px;
}

#csicon {
    width:30px;
}


#statsicon {
    height:30px;
    border-radius: 50px;
    background-color:#2f2f2f;
}

#statbar {
    width: 80px;
    height: 15px;
    border: 3px solid rgb(4, 50, 121);
    border-radius: 5px;
    margin-top: 7px;
    margin-bottom: 5px;
    margin-left: 4px;
    z-index: 0;
  }

  #bar-food {
    width: 100%;
    height: 100%;
    background-color: rgb(64, 166, 73);
    border-radius: 2px;
  }
  
  #bar-food.low {
    background-color: red;
    animation: blink 1s linear infinite;
  }
  
  #bar-health {
    width: 100%;
    height: 100%;
    background-color: green;
  }
  
  #bar-health.low {
    background-color: red;
    animation: blink 1s linear infinite;
  }
  
  #bar-sleep {
    width: 100%;
    height: 100%;
    background-color: green;
  }
  
  #bar-sleep.low {
    background-color: red;
    animation: blink 1s linear infinite;
  }
  
  #bar-play {
    width: 100%;
    height: 100%;
    background-color: green;
  }
  
  #bar-play.low {
    background-color: red;
    animation: blink 1s linear infinite;
  }
  @keyframes blink {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

#greetingcontainer {
    color: #fef66e;
    margin-top: 20px;
    text-shadow: 0 0 3px #888609, 0 0 5px #6d7200;
    font-size: 3.3vh;
    text-align: center;
    justify-content: center;
    align-items: center;
}

#charcontainer {
    height: 250px;
    max-height:70% ;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
}

#buttoncont {
    max-width: 60%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
  }
  
  #btndiv {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    max-width: 500px;
  }
  

#btndiv .buttonbtn {
    color: #014a7d;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
    text-shadow: -1px 1px 0 #53b7ff;
    font-size: 15px;
    background-color: #ffee00;
    border-color: -2px 2px 0 #014a7d;
    box-shadow: -3px 3px 0 #253e5d;
    margin-left: 2px;
    margin-right: 2px;
    width: 100px;
    height: 40px;
}

#score {
    margin-top: -230px;
    font-size: 18px;
    color: #fef66e;
    text-shadow: -2px 2px 0 #003357, 2px 2px 0 #003357, 2px -2px 0 #003357, -2px -2px 0 #003357, 0 2px 0 #003357, 0px -2px 0 #003357;
    position: absolute;
    z-index: 10;
}

table {
    border-collapse: collapse;
    border: 4px solid rgb(41, 153, 147);
    border-radius: 25px;
    background-image: url("asset/gamebg.jpg");
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    position: absolute;
    margin-top: 80px;
    scale: 0.8;
  }
  td {
    width: 50px;
    height: 50px;
   
  }

    .snake {
background-image: url("asset/jellynet.png");
background-size: 100%;
background-repeat: no-repeat;
background-position: center;

}     
  .food {
    background-image: url("asset/jellyfish.gif");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
  }

#controller {
    margin-top: 450px;
    background-color: #2f2f2f51;
    border-radius: 80px;
}

#atas {
    height: 20px;
    width: 20px;
    background-color: transparent;
    border: none;
    background-image: url("asset/up@0.3x.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

#bawah {
    height: 20px;
    width: 20px;
    background-color: transparent;
    border: none;
    background-image: url("asset/down@0.3x.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

#kanan {
    height: 20px;
    width: 20px;
    background-color: transparent;
    border: none;
    background-image: url("asset/right@0.3x.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

#kiri {
    height: 20px;
    width: 20px;
    background-color: transparent;
    border: none;
    background-image: url("asset/left@0.3x.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

#background-wrap {
    bottom: 0;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	z-index: -1;
}

/* KEYFRAMES */

@-webkit-keyframes animateBubble {
    0% {
        margin-top: 1000px;
    }
    100% {
        margin-top: -100%;
    }
}

@-moz-keyframes animateBubble {
    0% {
        margin-top: 1000px;
    }
    100% {
        margin-top: -100%;
    }
}

@keyframes animateBubble {
    0% {
        margin-top: 1000px;
    }
    100% {
        margin-top: -100%;
    }
}

@-webkit-keyframes sideWays { 
    0% { 
        margin-left:0px;
    }
    100% { 
        margin-left:50px;
    }
}

@-moz-keyframes sideWays { 
    0% { 
        margin-left:0px;
    }
    100% { 
        margin-left:50px;
    }
}

@keyframes sideWays { 
    0% { 
        margin-left:0px;
    }
    100% { 
        margin-left:50px;
    }
}

/* ANIMATIONS */

.x1 {
    -webkit-animation: animateBubble 25s linear infinite, sideWays 2s ease-in-out infinite alternate;
	-moz-animation: animateBubble 25s linear infinite, sideWays 2s ease-in-out infinite alternate;
	animation: animateBubble 25s linear infinite, sideWays 2s ease-in-out infinite alternate;
	
	left: -5%;
	top: 5%;
	
	-webkit-transform: scale(0.2);
	-moz-transform: scale(0.2);
	transform: scale(0.2);
}

.x2 {
    -webkit-animation: animateBubble 20s linear infinite, sideWays 4s ease-in-out infinite alternate;
	-moz-animation: animateBubble 20s linear infinite, sideWays 4s ease-in-out infinite alternate;
	animation: animateBubble 20s linear infinite, sideWays 4s ease-in-out infinite alternate;
	
	left: 5%;
	top: 80%;
	
	-webkit-transform: scale(0.15);
	-moz-transform: scale(0.15);
	transform: scale(0.15);
}

.x3 {
    -webkit-animation: animateBubble 28s linear infinite, sideWays 2s ease-in-out infinite alternate;
	-moz-animation: animateBubble 28s linear infinite, sideWays 2s ease-in-out infinite alternate;
	animation: animateBubble 28s linear infinite, sideWays 2s ease-in-out infinite alternate;
	
	left: 10%;
	top: 40%;
	
	-webkit-transform: scale(0.1);
	-moz-transform: scale(0.1);
	transform: scale(0.1);
}

.x4 {
    -webkit-animation: animateBubble 22s linear infinite, sideWays 3s ease-in-out infinite alternate;
	-moz-animation: animateBubble 22s linear infinite, sideWays 3s ease-in-out infinite alternate;
	animation: animateBubble 22s linear infinite, sideWays 3s ease-in-out infinite alternate;
	
	left: 20%;
	top: 0;
	
	-webkit-transform: scale(0.2);
	-moz-transform: scale(0.2);
	transform: scale(0.2);
}

.x5 {
    -webkit-animation: animateBubble 29s linear infinite, sideWays 4s ease-in-out infinite alternate;
	-moz-animation: animateBubble 29s linear infinite, sideWays 4s ease-in-out infinite alternate;
	animation: animateBubble 29s linear infinite, sideWays 4s ease-in-out infinite alternate;
	
	left: 30%;
	top: 50%;
	
	-webkit-transform: scale(0.2);
	-moz-transform: scale(0.2);
	transform: scale(0.2);
}

.x6 {
    -webkit-animation: animateBubble 21s linear infinite, sideWays 2s ease-in-out infinite alternate;
	-moz-animation: animateBubble 21s linear infinite, sideWays 2s ease-in-out infinite alternate;
	animation: animateBubble 21s linear infinite, sideWays 2s ease-in-out infinite alternate;
	
	left: 50%;
	top: 0;
	
	-webkit-transform: scale(0.3);
	-moz-transform: scale(0.3);
	transform: scale(0.3);
}

.x7 {
    -webkit-animation: animateBubble 20s linear infinite, sideWays 2s ease-in-out infinite alternate;
	-moz-animation: animateBubble 20s linear infinite, sideWays 2s ease-in-out infinite alternate;
	animation: animateBubble 20s linear infinite, sideWays 2s ease-in-out infinite alternate;
	
	left: 65%;
	top: 70%;
	
	-webkit-transform: scale(0.4);
	-moz-transform: scale(0.4);
	transform: scale(0.4);
}

.x8 {
    -webkit-animation: animateBubble 22s linear infinite, sideWays 3s ease-in-out infinite alternate;
	-moz-animation: animateBubble 22s linear infinite, sideWays 3s ease-in-out infinite alternate;
	animation: animateBubble 22s linear infinite, sideWays 3s ease-in-out infinite alternate;
	
	left: 80%;
	top: 10%;
	
	-webkit-transform: scale(0.3);
	-moz-transform: scale(0.3);
	transform: scale(0.3);
}

.x9 {
    -webkit-animation: animateBubble 29s linear infinite, sideWays 4s ease-in-out infinite alternate;
	-moz-animation: animateBubble 29s linear infinite, sideWays 4s ease-in-out infinite alternate;
	animation: animateBubble 29s linear infinite, sideWays 4s ease-in-out infinite alternate;
	
	left: 90%;
	top: 50%;
	
	-webkit-transform: scale(0.3);
	-moz-transform: scale(0.3);
	transform: scale(0.3);
}

.x10 {
    -webkit-animation: animateBubble 26s linear infinite, sideWays 2s ease-in-out infinite alternate;
	-moz-animation: animateBubble 26s linear infinite, sideWays 2s ease-in-out infinite alternate;
	animation: animateBubble 26s linear infinite, sideWays 2s ease-in-out infinite alternate;
	
	left: 80%;
	top: 80%;
	
	-webkit-transform: scale(0.3);
	-moz-transform: scale(0.3);
	transform: scale(0.3);
}

/* OBJECTS */

.bubble {
    -webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	
    -webkit-box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2), inset 0px 10px 30px 5px rgba(255, 255, 255, 1);
	-moz-box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2), inset 0px 10px 30px 5px rgba(255, 255, 255, 1);
	box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2), inset 0px 10px 30px 5px rgba(255, 255, 255, 1);
	
    height: 200px;
	position: absolute;
	width: 200px;
}

.bubble:after {
    background: -moz-radial-gradient(center, ellipse cover,  rgba(255,255,255,0.5) 0%, rgba(255,255,255,0) 70%); /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(255,255,255,0.5)), color-stop(70%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover,  rgba(255,255,255,0.5) 0%,rgba(255,255,255,0) 70%); /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover,  rgba(255,255,255,0.5) 0%,rgba(255,255,255,0) 70%); /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover,  rgba(255,255,255,0.5) 0%,rgba(255,255,255,0) 70%); /* IE10+ */
    background: radial-gradient(ellipse at center,  rgba(255,255,255,0.5) 0%,rgba(255,255,255,0) 70%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	
    -webkit-box-shadow: inset 0 20px 30px rgba(255, 255, 255, 0.3);
	-moz-box-shadow: inset 0 20px 30px rgba(255, 255, 255, 0.3);
	box-shadow: inset 0 20px 30px rgba(255, 255, 255, 0.3);
	
	content: "";
    height: 180px;
	left: 10px;
	position: absolute;
	width: 180px;
}