body {
    background-image : url("https://file.notion.so/f/s/395e1406-1a4e-4f8c-b36c-a8f288e086e1/background1.jpg?id=624ac8eb-f38a-4615-90d4-a85e208e92e9&table=block&spaceId=a87e2f9d-141a-403a-ab4f-5c8145dcc9fa&expirationTimestamp=1680357076757&signature=-hBgEPLyQe-GlX3CgwBzdxoIGUnyBsFtvo5uz_hxLX8&downloadName=background1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-color : #cccccc;
    background-position:center;
    justify-content: center;
    min-height: 100vh;
    font-family: "CustomFont", sans-serif;
 }

 @font-face {
    font-family: "CustomFont";
    src: url("sponsfont.ttf");
}

#container {
    justify-content: center;
    align-items: center;
}

#maincontainer {
    justify-content: center;
    align-items: center;
}

#prevbutton {
    justify-content: right;
    display: flex;
    align-items: center;
    width: 20px;
}


#clogo {
    position: relative;
    min-width: 100%;
    min-height: 20%;
}

#clogo .bglogo {
    margin-top: 10px;
    position: relative;
    width: 100%;
    min-height: 100px;
    top: 0;
    left: 0;
    z-index: 0;
    border: 5px solid #014a7d;
    border-color: #014a7d;
    border-radius: 35px;
}

#clogo .logo {
    margin-top: 4px;
    position: absolute;
    min-width: 120px;
    max-width: 15%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;  
}

#selectorchar {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
}

#nextbutton{
    display: flex;
    align-items: center;
    justify-content: left;
    width: 20px;
}

#charpick {
    min-width: 20%;
    width: 230px;
    height: 200px;
}

#char{
    /*bikin width, height seukuran char*/
    justify-content: center;
    display: flex;
    align-items: center;
}

#inputpet{
    align-items: center;
    text-align: center;
    justify-content: center;
    min-width: 300px;
    max-width: 30%;
}

#inputpet .inputpetlabel {
    color: #fef66e;
    text-shadow: 0 0 3px #888609, 0 0 5px #6d7200;
    font-size: 25px;
}

#inputpet .inputtextpet {
    padding-top: 20px;
    padding-bottom: 15px;
    color: #cccccc;
    font-size: 1.2em;
    text-align: center;
    background-image: url("https://file.notion.so/f/s/ec5995f6-657d-464b-9654-7ae07729cf16/input.png?id=32739c43-9af4-4299-8daf-377b1af7965d&table=block&spaceId=a87e2f9d-141a-403a-ab4f-5c8145dcc9fa&expirationTimestamp=1680371148133&signature=yUF_DXxIMD_vWVIk0G0bmma4Rf6wzCgxLx_pG27Z4Lc&downloadName=input.png");
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: bottom;
}


.inputtextpet:focus {
    outline: none;
}

input {
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: hidden;
    background-color: rgba(238, 238, 238, 0);
}

#play.container {
    width: 300px;
    height: auto;
    align-items: center;
    text-align: center;
    justify-content: center;
}

#play .playbutton {
    color: #014a7d;
    padding: 10px;
    text-shadow: -2px 2px 0 #53b7ff;
    font-size: 30px;
    border-radius: 70%;
    background-color: #ffee00;
    border-color: #014a7d;
    box-shadow: 0 0 5px #253e5d73;
}