body {
    background-image : url("asset/background1.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    background-color : #cccccc;
    background-position:center;
    justify-content: center;
    min-height: 100vh !important;
    font-family: "CustomFont", sans-serif;
 }

 @font-face {
    font-family: "CustomFont";
    src: url("sponsfont.ttf");
}

html, body {
    overflow: hidden;
    touch-action: none;
    -ms-touch-action: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
  }

#container {
    justify-content: center;
    align-items: center;
}

#prevbutton {
    justify-content: right;
    display: flex;
    align-items: center;
    width: 20px;
}


#clogo {
    position: relative;
    min-width: 100%;
    min-height: 20%;
}

#clogo .bglogo {
    margin-top: 10px;
    position: relative;
    width: 100%;
    min-height: 100px;
    top: 0;
    left: 0;
    z-index: 0;
    border: 5px solid #014a7d;
    border-color: #014a7d;
    border-radius: 35px;
}

#clogo .logo {
    margin-top: 4px;
    position: absolute;
    min-width: 120px;
    max-width: 15%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;  
}

#selectorchar {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
}

#nextbutton{
    display: flex;
    align-items: center;
    justify-content: left;
    width: 20px;
}

#charpick {
    min-width: 20%;
    width: 230px;
    height: 200px;
}

#char{
    /*bikin width, height seukuran char*/
    justify-content: center;
    display: flex;
    align-items: center;
}

#inputpet{
    align-items: center;
    text-align: center;
    justify-content: center;
    min-width: 300px;
    max-width: 30%;
}

#inputpet .inputpetlabel {
    color: #fef66e;
    text-shadow: 0 0 3px #888609, 0 0 5px #6d7200;
    font-size: 25px;
}

#inputpet .inputtextpet {
    padding-top: 15px;
    padding-bottom: 20px;
    color: #cccccc;
    font-size: 1.2em;
    text-align: center;
    background-image: url("asset/input.png");
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
}


.inputtextpet:focus {
    outline: none;
}

input {
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: hidden;
    background-color: rgba(238, 238, 238, 0);
}

#play.container {
    width: 300px;
    height: auto;
    align-items: center;
    text-align: center;
    justify-content: center;
}

#play .playbutton {
    color: #014a7d;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
    text-shadow: -2px 2px 0 #53b7ff;
    font-size: 30px;
    background-color: #ffee00;
    border-color: -2px 2px 0 #014a7d;
    box-shadow: -4px 4px 0 #253e5d;
}

#copyright {
    padding-top: 15px;
    text-align: center;
    padding-bottom: 5px;
}

a {
    color: #2f2f2f;
    font-size: small;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;

    color: whitesmoke;
    padding-left: 5px;
  }
  
a:link {
    text-decoration: none;
  }
  
  a:visited {
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  a:active {
    text-decoration: underline;
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
  }
  
.popup-content {
    background-image: url("asset/prompt.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    padding: 80px;
    text-align: center;
    border-radius: 10px;
}
  
h1 {
    font-size: 36px;
    color: rgb(255, 255, 255);
    text-shadow: -2px 2px 0 #003357, 2px 2px 0 #003357, 2px -2px 0 #003357, -2px -2px 0 #003357, 0 2px 0 #003357, 0px -2px 0 #003357;
}
  
p {
    font-size: 18px;
    color: #fef66e;
    margin-top: 20px;
    text-shadow: -2px 2px 0 #003357, 2px 2px 0 #003357, 2px -2px 0 #003357, -2px -2px 0 #003357, 0 2px 0 #003357, 0px -2px 0 #003357;
}
  
.close-btn {
    color: #014a7d;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
    text-shadow: -2px 2px 0 #53b7ff;
    font-size: 20px;
    background-color: #ffee00;
    border-color: -1.5px 1.5px 0 #014a7d;
    box-shadow: -4px 4px 0 #253e5d;
}
  